fastapi==0.129.0
uvicorn[standard]==0.40.0

SQLAlchemy==2.0.51
psycopg[binary]==3.2.9
alembic==1.16.5

pydantic==2.12.5
pydantic-settings==2.11.0

python-dotenv==1.1.1
python-multipart==0.0.20

PyJWT==2.10.1
cryptography==46.0.1

httpx==0.28.1
email-validator==2.3.0